#modal .signup .agreeToTerms p{display:inline-block;margin-top:0}
#modal .signup .agreeToTerms p.error{display:table}
#modal .signup h2{color:#ffef00}
#modal .signup h2,#modal .confirmationHeader h2{border-bottom:0;min-height:50px;display:inline-block;padding:0}
#modal .signup .container{display:none}
#modal .signup .container.on{display:block}
#modal .signup section.ai{background:url("../../../../images/alamo/global/border-utility.gif") repeat-x;padding-top:5px}
#modal.modal-xlg .confirmationHeader{background:url("../../../../images/alamo/global/border-utility.gif") repeat-x bottom}
#modal.modal-xlg .dealsRemember label,#modal .signup .checkboxLabel{font-weight:normal}
#modal .signup section span.field{margin-top:18px;margin-bottom:18px}
#modal .signupIconsSection div{padding:0 30px 0 75px;min-height:65px}
#modal .signup .iconDeals{background:url("../../../images/icon_deals.png") no-repeat}
#modal .signup .iconFree{background:url("../../../images/icon_free.png") no-repeat}
#modal .signup .iconSave{background:url("../../../images/icon_save.png") no-repeat}
#modal .signupIconsSection h3,#modal .signup section .container.on span.field{margin-bottom:0}
#modal .signupIconsSection p{margin-top:0}
#modal .signup .requiredText{float:right}
#modal.modal-xlg .signin section.ai-signin{border-top:0}
#modal.modal-xlg .signin h2{background:url("../../../../images/alamo/global/border-utility.gif") repeat-x bottom;border-bottom:0;color:#ffef00}
#modal.modal-xlg section.dealsForgotText{border-top:0}
#modal.modal-xlg .dealsForgotText p{margin:15px 0 0}
#modal.modal-xlg .utilityRail.dealsSignIn .signinMessage,#modal.modal-xlg .signin .requiredText,#modal.modal-xlg a.smallBabyButton.close{display:none}
.signUpconfirmation .image img{width:100%;padding-top:10px}
.signUpconfirmation{position:relative}
.memberShipInfo{position:absolute;top:55%;left:48%;width:43%;padding-top:10px}
#modal .memberShipInfo p{color:#424345;margin:0;font-weight:bold}
.alamoInsiderCongrats{background-color:#fffee7;padding:1px 15px;margin-top:15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#modal .alamoInsiderCongrats p{color:#002b5c}
#modal .alamoInsiderCongrats p:first-child{font-weight:bold}
#modal .confirmationEdit{text-decoration:underline;color:#a1d9f7}
#modal.modal-xlg .confirmationHeader img{display:inline-block}
#modal.modal-xlg .actionButtons{display:none}
@media screen and/*!YUI-Compressor */(max-width:420px){#modal .signup h2,#modal.modal-xlg .confirmationHeader h2{font-size:21px;width:160px;line-height:28px}
#modal.modal-xlg .signin h2{font-size:21px}
}
@media screen and/*!YUI-Compressor */(min-width:560px){#modal .memberShipInfo p{line-height:27px;font-size:18px}
.memberShipInfo{padding-top:20px}
div#modal.modal-xlg .signin .dealsSignIn fieldset{float:left;width:auto;clear:none}
#modal .signup section span.field{display:inline-block}
#modal .signup section span.fieldDesktop{margin-bottom:0;margin-top:10px}
#modal .signup input[type="text"],#modal .signup input[type="password"],#modal.modal-xlg .signin input[type="text"],#modal.modal-xlg .signin input[type="password"]{width:200px;margin-right:10px}
#modal.modal-xlg .signin h2{padding-top:10px}
#modal .signup .useEmailCheckbox{display:inline-block;vertical-align:bottom;padding-right:38px}
#modal.modal-ai-confirmation{width:560px}
#modal.modal-xlg .confirmationHeader img{margin-top:-10px}
}
@media screen and /*!YUI-Compressor */(max-width:560px){#modal .signup .requiredText,#modal .signup .infoModal{padding-right:15px}
#modal .signup h2,#modal.modal-xlg .confirmationHeader h2{max-width:215px;padding-bottom:10px}
}
@media screen and /*!YUI-Compressor */(min-width:560px) and (max-width:759px){#modal .signup .requiredText{float:none;display:block;margin-top:10px}
#modal .signupIconsSection div{width:17%;display:inline-block;padding-right:5px;vertical-align:top}
#modal .signupIconsSection{padding-top:10px}
#modal p.dualButton a.smallYellowPointer{float:none}
}
@media screen and /*!YUI-Compressor */(max-width:759px){div#modal .signup section span.field.requirementField{margin-bottom:0}
#modal .signup p.singleButton{text-align:left}
#modal.modal-xlg .signin p.dualButton a.smallYellowPointer{float:left}
#modal .signup img,#modal.modal-xlg .confirmationHeader img{float:right}
}
@media screen and/*!YUI-Compressor */(min-width:760px){#modal .signupIconsSection{width:30%;vertical-align:top;display:inline-block}
#modal .signupFieldsSection{width:69%;vertical-align:top;display:inline-block}
#modal.modal-xlg .utilityRail.dealsSignIn{margin-left:30%;float:none}
#modal .signup .singleButton{right:0;margin-top:-97px;margin-bottom:50px}
#modal .signup .infoModal{margin-right:7px}
#modal .signup img,#modal .confirmationHeader img{margin-left:10px;vertical-align:middle}
}
#mask,#modal,.static,.gradient-blue.content-modal,.inline-modal-content{display:none}
.content-wrapper{background:#fff}
.content-modal{position:fixed;-o-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}
#modal .inline-modal-content{display:block}
#mask{width:100%;height:100%;background:#3c3c3c;filter:alpha(opacity=60);-ms-filter:"alpha(opacity=90)";filter:alpha(opacity=90);opacity:.9;-moz-opacity:.9;z-index:11;position:fixed;top:0;left:0}
#modal-outer{width:100%;height:100%;position:static;top:0;left:0;display:none;-webkit-overflow-scrolling:touch}
#modal{background:#0060aa;color:#fff;position:absolute;top:0;left:0;z-index:12;width:100%;min-height:100px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#modal.modal-sm,#modal.modal-md,#modal.modal-lg,#modal.modal-compareRates,#modal.modal-oneClickReservation,#modal.modal-box,#modal.modal-g-close,#modal.modal-lms{min-height:100%;height:auto}
#modal p.closer{margin:0;position:absolute;right:0;top:0;z-index:3}
#modal .closer a{display:block;height:40px;width:40px}
#modal .closer a img{height:20px;width:20px;margin:10px}
#modal p.closer a.x{display:none}
#modal .content{padding:30px 16px 20px;width:auto}
#modal a,#modal .locations strong{color:#ffeb00}
#modal p,#modal h2,#modal h1,#modal h3{color:#fff}
#modal .cancelEnrollment p,#modal .cancelProcess p{margin:0}
#modal h2{border-bottom:1px solid #005092;padding:0 35px 6px 0}
#modal h3{margin:15px 0}
#modal section,#modal div.blockPrimary{background:#0060aa;border-top:1px solid #0d68ad;margin:0 0 20px 0;padding:0}
#modal .cancelEnrollment section,#modal .cancelProcess section,#modal .cancelReservation section{border:0}
#modal section.addonDetail{padding-top:10px}
#modal section span.field{display:block;margin-bottom:12px;margin-top:10px}
#modal p.forgot{margin:0}
#pleaseStandBy,.pleaseStandBy{background-color:#0060aa}
#modal .pricingMatrix table td{border-left:2px solid #0060a9}
#modal .pricingMatrix table th,#modal .pricingMatrix table td{border-top:2px solid #0060a9}
#modal .pricingMatrix table td{color:#FFF}
#modal .pricingMatrix table th{background:#d8edff;color:#0060a9}
#modal .pricingMatrix table tbody tr:hover td,#modal .pricingMatrix table tbody tr:hover td.pay:hover{background:none repeat scroll 0 0 #0581e1}
#modal label{font-weight:bold;display:block;margin:5px 0;color:#fff}
#modal label span.note{font-weight:normal;font-style:italic}
#modal input[type="text"],#modal input[type="password"],#modal textarea{width:95%}
#modal textarea{height:100px}
#modal section span.adNarrower{width:180px}
#modal a.smallBabyButton,#modal a.smallYellowPointer,#modal a.smallYellowButton{color:#0060a9;float:none;margin-bottom:10px;padding:13px 15px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#modal p.singleButton{text-align:right}
#modal p.singleButton a:link,#modal p.singleButton a:visited,#modal .frequentSection .cancel{color:#0060a9}
#modal p.dualButton a.smallYellowPointer,#modal p.dualButton input.smallYellowPointer{float:right}
#modal .utilityRail{padding:0;margin:auto 0;width:100%}
#modal .utilityRail p{padding-bottom:10px}
label.remember{font-weight:normal}
#modal section.addonDetail div{overflow:auto}
#modal h2.addonDetailHeader{padding:0 0 6px 0;border-bottom:0 solid #005092}
#modal section.details{border-bottom:1px solid #0d68ad}
#modal fieldset{border:0}
#modal legend,#modal .hotDealsOnWheels .hideCountry{display:none}
#modal legend.ad-legend{display:inline}
#modal h2.lookup{border:0}
#modal p.call{border-bottom:1px solid #005092;margin:0;padding:4px 0}
#modal .instructions{clear:both;padding:5px}
#modal .instruction div p{clear:both}
#modal .instructions dl,.instructions dd{margin:0}
.instructions dd{padding:6px 2px 6px 56px;color:#fff;border-bottom:1px solid #0060aa}
#modal a.print{float:right;padding:4px 0;color:#ffef00}
#modal p.dualButton a.print{padding:5px 20px 5px 14px}
span.field label em{font-weight:normal}
#modal p.error{width:auto}
#modal p.info,#modal p.success{width:auto;font:normal 11px arial,verdana,sans-serif;color:#292929}
#modal p.info{background:#d8edff url("../../../../images/alamo/global/ico_blueInfoSquare.png") no-repeat 4px center}
span.current{border-radius:5px 5px 5px 5px;color:#fff;margin:0;padding:10px 15px;border-bottom:1px solid #005092;padding:0 0 6px;display:block}
span.current ul{list-style:none;padding:10px 0 8px 0;margin:0}
span.current ul li{padding:1px 0}
table.carImageTable td.scrollArrowCell img{cursor:pointer}
#modal .scrolling{margin-bottom:20px;overflow:auto;padding-right:10px}
#modal.modal-compareRates{min-height:300px}
#modal .addAdditionalDriver .address label{font-weight:200}
#modal .addAdditionalDriver .address .optional{font-style:italic;font-size:small}
#modal .addAdditionalDriver label{margin:0}
#modal .addAdditionalDriver fieldset{margin-top:15px}
#modal .addAdditionalDriver input[type="text"]{width:178px}
#modal .addAdditionalDriver select[name="adAddressCountry"],#modal .addAdditionalDriver select[name="adLicenseCountry"],#modal .addAdditionalDriver select[name="adLicenseState"],#modal .addAdditionalDriver select[name="adAddressState"]{width:185px}
#modal .addAdditionalDriver input[name="adAddressLine1"],#modal .addAdditionalDriver input[name="adAddressLine2"],#modal .addAdditionalDriver input[name="adAddressCity"]{width:90%}
#modal .addAdditionalDriver input[name="adAddressLine1"]{display:block}
#modal .addAdditionalDriver form section{height:auto;background:0}
.alphabrowser dd{margin-left:0;display:inline;background:url("../../../../images/common/modal/bg-locations-pipe.gif") no-repeat scroll 0 center rgba(0,0,0,0);padding:0 5px 0 8px;line-height:20px}
.alphabrowser dt{float:left;line-height:20px;padding-right:8px}
.locations dt{margin:15px 0 5px}
.locations dd,.locations dt{margin-left:0}
fieldset.filters{display:inline-block;width:100%}
#modal fieldset.filters label{display:inline-block}
fieldset.filters select{width:34%}
#modal .loading{background:0}
#modal .signup form section span select,#modal .hotDealsOnWheels .countryOfResidence select{width:97%}
#modal .hotDealsOnWheels .countryOfResidence label{font-weight:normal}
#modal .hotDealsOnWheels p.dualButton{margin-top:25px}
#modal section .utilityRail span.help{font-size:14px}
#modal .confirmationHeader img{display:none}
div#modal .closeLinkText{display:none;padding:0 0 20px 16px;text-decoration:none}
div#modal.showCloseButtonInSmallResn .closeLinkText{display:block}
div#modal .content .content{padding:0}
div#modal h3.airportLocationName{margin-bottom:2px}
div#modal span.airportCodeName,div#modal span.stationCode{font-size:21px;font-weight:bold;padding:0;display:inline-block;margin-bottom:20px}
#modal .alamoVehicleDetailTrans{margin-bottom:3px}
#modal .alamoTrans{display:inline-block;margin-bottom:12px}
#modal .displayLocationLargeIcon{vertical-align:text-bottom}
#modal label.label-horizontal{display:inline-block}
#modal label.label-inline-left{float:left}
#modal label.label-inline-right{float:right}
#modal label span.note{font-size:13px;font-weight:normal}
#modal div.helperText,#modal p.helperText{font-size:12px;margin-bottom:15px;color:#fff}
#modal p.helperText{margin-bottom:0}
#modal div.selectRentersAge{margin-bottom:30px}
#modal .selectRentersAge label{margin-bottom:15px}
#modal .content em{font-size:27px;font-weight:normal;color:#fff;border-bottom:1px solid #005092;padding:0 35px 6px 0;line-height:32px;font-style:normal;display:block}
#modal ul.partner-preference{list-style-type:none}
#modal section.addonDetail h2.addonDetailDiv{font-size:14px;line-height:19px}
#modal .twist.modal-twist{background:transparent;padding:0 0 5px 0;margin:0;border:0}
#modal .twist.modal-twist .dl .dt{background:url("../../../../images/alamo/global/ico_twistyClosed_yellow.png") no-repeat left 50%;color:#ffef00;cursor:pointer;font:normal 14px arial;padding-left:15px}
#modal .twist.modal-twist .open.dl .dt{background:url("../../../../images/alamo/global/ico_twistyOpen_yellow.png") no-repeat scroll left 50%}
@media screen and/*!YUI-Compressor */(min-width:560px){#modal.modal-tour-email{width:310px}
#modal.modal-tour-email input[type="text"]{width:265px}
#modal-outer{position:absolute}
#modal{position:relative;border-radius:10px;top:20px;left:0;padding:0;margin-bottom:10px;margin-left:auto;margin-right:auto}
#modal.modal-sm,#modal.modal-md,#modal.modal-lg,#modal.modal-compareRates,#modal.modal-oneClickReservation,#modal.modal-box,#modal.modal-g-close,#modal.modal-lms{min-height:100px;height:auto}
#modal.modal-sm,#modal.modal-md,#modal.modal-lg{width:470px;margin-bottom:20px;overflow:visible}
#modal.modal-compareRates,#modal.modal-lms{width:558px;overflow:auto}
#modal.modal-box{min-height:170px}
#modal input[type="text"],#modal input[type="password"]{width:272px}
#modal section span.adNarrower{display:inline-block;margin-right:10px}
#modal .addAdditionalDriver section span.adState,#modal section span.field.reset-field{display:inline-block}
#modal .addAdditionalDriver input[name="adAddressLine1"],#modal .addAdditionalDriver input[name="adAddressLine2"],#modal .addAdditionalDriver input[name="adAddressCity"]{width:178px}
#modal p.closer{right:-14px;top:-14px}
#modal .closer a img{height:auto;width:auto;margin:0}
#modal p.singleButton,#modal p.dualButton{height:40px;clear:both}
#modal a.smallBabyButton,#modal a.smallYellowButton,#modal a.smallYellowPointer{margin-top:0;min-width:112px;width:auto}
#modal a.smallYellowButton{float:right}
#modal p.dualButton a.smallYellowPointer,#modal p.addDualButton a.smallYellowPointer{float:right;font-size:14px;font-weight:bold}
#modal .addAdditionalDriver section{margin-top:5px}
#modal .signup form section span select,#modal .hotDealsOnWheels .countryOfResidence select{width:280px}
div#modal.showCloseButtonInSmallResn .closeLinkText{display:none}
div#modal.showCloseButtonInMediumResn .closeLinkText{display:block}
div#modal h3.airportLocationName{display:inline-block;margin-bottom:20px}
div#modal span.airportCodeName{margin:0 0 0 5px}
#modal .selectRentersAge select{width:185px}
}
@media screen and/*!YUI-Compressor */(min-width:760px){div#modal.showCloseButtonInSmallResn .closeLinkText,div#modal.showCloseButtonInMediumResn .closeLinkText{display:none}
div#modal.showCloseButtonInMediumPlusResn .closeLinkText{display:block}
#modal.modal-xlg{max-width:800px}
}
@media screen and/*!YUI-Compressor */(min-width:1000px){div#modal.showCloseButtonInSmallResn .closeLinkText,div#modal.showCloseButtonInMediumResn .closeLinkText,div#modal.showCloseButtonInMediumPlusResn .closeLinkText{display:none}
}